{% extends "home.html" %}
{% load static %}
{% block title %}QR Code{% endblock %}
{% block content %}
    <br>
    <div class="container-fluid">
     <div class="row">
        <div class="col-md-12">
          <div class="card card-light">
            <div class="card-header">
              <h3 class="card-title"><i class="fa fa-qrcode nav-icon"> QR Code</i></h3>
              <div class="card-tools">
                <a type="button" href="#" class="btn btn-tool">
                  <i class="fas fa-window-close"></i></a>
              </div>
            </div>
            <div class="container">
              <form class="container pg-5" method="post" >
                  {% csrf_token %}
                <div class="row form-group">
                   <div class="col-sm-7 ml-4 mt-5">
                         <label for="title" class="col-form-label">URL address:</label>
                        <input id="address" name="address"  class="form-control" required><br>
                       <button type="submit"   class="btn-success form-control"><i class="fa fa-qrcode nav-icon"> Create QRCode</i></button>
                     </div>
                    <div class="card col-sm-4 m-3" style="width:400px">
                        <img class="card-img-top" src='{% static 'qrcode.png' %}'  alt="Card image" style="width:100%">
                      </div>
                </div>
            </form>
            </div>
        </div>
      </div>
  </div>
 </div>
{% endblock %}
